html {
    background-color: #04151F;
}

* {
    box-sizing: border-box;
}

.titleText {
    display:inline;
    font-family: serif;
    font-size: 6vw;
    text-align: center;
}

.titleImage {
    float: left;
}

.header {
    margin-left: auto;
    margin-right: auto;
    height: 175px;
    width: 100%; 
    background-color: #0f4d71;
    clear: none;
    border: solid 2px;
    border-color: #fff;
}

.mainContents {
    background-color: #fff;
    border: 5px solid #34a4e5;
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.row { 
    display: flex;
    width: 100%
}

.row::after { 
    display: block;
    clear: both;
    content: "";
}

.col-1 {width: 8.33%}
.col-2 {width: 16.66%}
.col-3 {width: 25%}
.col-4 {width: 33.33%}
.col-5 {width: 41.66%}
.col-6 {width: 50%}
.col-7 {width: 58.33%}
.col-8 {width: 66.66%}
.col-9 {width: 75%}
.col-10 {width: 83.33%}
.col-11 {width: 91.66%}
.col-12 {width: 100%}


[class*="col-"] {
    border: 2px solid #fff;
    padding: 15px;
    background-color: #0f4d71;
    text-align: center;
    font-size: 1.7vw;
    padding: 0;
}



a {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

a:hover {
    background-color:#156c9e; 
}

h1 {
    color: #C44900;
    font-family: sans-serif;
}


p {
    color: #fff;
}

h1, .question {
    text-align: center;
    display: block;
    position: static;
}

.quizImage {
    width: 60%;
    height: auto;
}

.buttonsContainer {
    text-align: center;
}

.questionButton {
    background-color: #34a4e5;
    border: none;
    border-radius: 10px;
    color: #fff;
    width: 15%;
    height: auto;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 4px;
    padding: 1em;
}

.questionButton:hover {
    background-color: #ff9b60;
    cursor: pointer;
}

.questionButton:active {
    background-image: linear-gradient(#ff9b60,#C44900);
}

.navButton {
    display: inline-block;
    background-color: #0F4E71;
    border-color: #fff;
    border-style: solid;
    color: #fff;
    width: 32%;
    height: auto;
    margin: none;
    padding: 1em;
    font-size: 2vw;
    font-family: serif;
}

.navButton:hover {
    background-color: #177eb5;
    cursor: pointer;
}

.navButton:active {
    background-image: linear-gradient(#177eb5,#0F4E71);
}

.leftButton {
    border-width: 2px 1px 2px 2px;
}

.middleButton {
    border-width: 2px, 1px, 2px, 1px;
}

.rightButton {
    border-width: 2px 2px 2px 1px;
}



#answerSpaceOne, #answerSpaceTwo, #answerSpaceThree {
    color: #ff9b60;
    text-align: center;
    font-family:cursive;
}

#currentPage{
    background-color:#156c9e;
}

#questionOne {
    display: block;
}

#questionTwo {
    display: none;
}

#questionThree {
    display: none;
}

